.header{
	&__order-selection{
		position: relative;
		cursor: pointer;
	
	}

	&__order-selection.open &__droppable{
		content: 'R';
		display: block;
		position: absolute;
		top: 40px;
		left: 0px;
		z-index: 5;
		width: 144px;
		height: 53px;
		background: #837F7F;
		border-radius: 10px;
		font-size: 14px;
		line-height: 1.2;
		padding: 6px 9px 0 16px;
	}
}

@media (max-width: 860px){
	.header__order-selection{
		order: 4;
	}

	.header__order-selection.open .header__droppable{
		left: -105px;
	}
}
