.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0 40px 0;
	gap: 20px;
	flex: 0 0 90px;

	& li{
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 28.82px;
		height: 30px;
		border-radius: 50%;
		background: #5B5E63;
	}

	&__page-number{
		font-size: 12px;
		line-height: 1.2;
		color: white;

	
		&:hover{
			color: #fff;
			background: #30484f;
		}

		&.choosen{
			background: #17323A;
		}
	}
}
